body {
    background-color: #8BAAAD;
    color: #000F08;
    margin: 0;
    font-family: 'Abel', sans-serif;
}

header {
    background-color: #4E4C67;
    font-size: 2em;
    padding-top: 5px;
}

h1 {
    font-family: 'Homemade Apple', sans-serif;
    text-shadow: 4px 4px 4px #93B5C6;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F4FFF8;
    text-align: center;
}

nav li {
    text-decoration: none;
    display: inline;
}

nav a {
    text-decoration: none;
    color: #000F08;
    padding: 20px;
}

nav a:hover {
    background-color: #DDEDAA;
  }

nav a[href="#"] {
    background-color: #DDEDAA;
}

main {
    font-size: 2em;
}

button img {
    width: auto;
    height: 200px;
}

.collapsible {
    display: inline;
    width: 20%;
    background-image: url('../img/graph.png');
    font-family: 'Abel', sans-serif;
    font-size: 1em;
    cursor: pointer;
    padding: 20px;
    margin: 10px;
    border: outset;
    border-radius: 8px;
}

.collapsible:hover {
    /* border: inset; */
}

/* .active {
} */

.thumbnail {
}

.blog_post {
    padding: 18px;
    margin: 10px;
    display: none;
    background-image: url('../img/graph.png');
}
