body {
    background-color: #ddddff;
    margin: 0;
    font-family: 'Abel', sans-serif;
}

header {
    background-color: #122932;
    color: #ffffff;
    padding: 2%;
    font-size: 2em;
}

h1 {
    font-family: 'Homemade Apple', sans-serif;
    font-size: 3em;
    text-shadow: 4px 4px 4px #ffffff;
    text-align: center;
    color: #ff5d73;
}

header p {
    font-family: 'Homemade Apple', sans-serif;
    text-align: center;
}

nav {
    background-color: #ff5d73;
}

nav ul {
    list-style-type: none;
}

nav li {
    text-decoration: none;
    display: inline;
}

nav a {
    color: white;
}

nav a:hover {
    background-color: #555555;
  }

nav a[href="#"] {
    background-color: #555555;
}
